[Unit]
Description=Battleship backend
ConditionPathExists=/opt/battleship/backend/cmd/battleship/battleship

[Service]
Type=simple
User=battleship
Group=battleship

Restart=on-failure
RestartSec=10
AmbientCapabilities=CAP_NET_BIND_SERVICE

WorkingDirectory=/opt/battleship/backend/cmd/battleship/
ExecStart=/opt/battleship/backend/cmd/battleship/battleship

[Install]
WantedBy=multi-user.target